<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="unoee" connectionString="Data Source=10.210.20.8;user id=domicilios;Pwd=Invercomer1.;initial catalog=unoee_invercomer; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	<add name="pedidosmega" connectionString="Data Source=10.210.20.8;user id=domicilios;Pwd=Invercomer1.;initial catalog=PedidosMega2; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
